// Colors

$primary-bg-color:#24345C;
$primary-font-color:#414042;
$button-dark:#24345C;
$button-green:#50E3B3;
$orange:#FFCD81;
$orange-dark:#FFB74A;

// Fonts
$primary-font: 'Montserrat';
$font-open-sans: 'Open Sans';
$font-source-sans: 'Source Sans Pro';


// Buttons 


